In [1]:
import os
import pickle
import sqlite3
import numpy as np
import pandas as pd
import ast  #to convert string to list
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

### **Text Preprocessing**

**LOAD DATA**

In [2]:
movies = pd.read_csv('../archive/tmdb_5000_movies.csv')
credits = pd.read_csv('../archive/tmdb_5000_credits.csv')

In [3]:
print(movies.shape)
movies.head(2)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
print(credits.shape)
credits.head(2)

(4803, 4)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
movies = movies.merge(credits, on="title")
print(movies.shape)
movies.head(2)

(4808, 23)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [6]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

**CREATE DFS**

In [7]:
movie_rec_df = movies[['genres', 'id', 'keywords', 'title', 'overview', 'cast', 'crew']]
reference_df = movies[['id', 'title', 'status', 'release_date']]
numeric_filters_df = movies[['id', 'budget', 'popularity', 'vote_average', 'vote_count', 'revenue', 'runtime']]
genrekeywords_filters_df = movies[['id', 'genres', 'keywords']]
castcrew_filters_df = movies[['id', 'cast', 'crew']]
rating_df = movies[['vote_average', 'vote_count', 'popularity']]

In [8]:
movie_rec_df.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

**MISSING AND DUPLICATE VALUES**

In [9]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3095
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [10]:
# Fill 'homepage' column with "https://#"
movies['homepage'].fillna('https://#', inplace=True)

# Remove null value rows for 'overview', 'release_date', and 'runtime' columns
movies.dropna(subset=['overview', 'release_date', 'runtime'], inplace=True)

# Fill 'tagline' column null values with corresponding 'overview' value
movies['tagline'].fillna(movies['overview'], inplace=True)

movies.isnull().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
movie_id                0
cast                    0
crew                    0
dtype: int64

In [11]:
movies.reset_index(drop=True, inplace=True)

In [12]:
movies.duplicated().sum()

0

**COLUMN FORMAT PREPROCESSING TO CREATE PARAGRAPH FOR `tags` COLUMN**

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
# Have : '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# Need : ["Action", "Adventure", "Fantasy", "Science Fiction"]

def extract_listof_tags(argobj):
    # convert the given string of list to actual list
    argobj = ast.literal_eval(argobj)
    # initialize empty list
    L = []
    # run loop through the list of dict
    for dictele in argobj:
        # to remove white-space from the string
        # i.e., to make "Abc Def" -> "AbcDef"
        tagname = dictele["name"].replace(" ", "")
        # append the tagname to list L
        L.append(tagname)
    return L
movies['genres'] = movies['genres'].apply(extract_listof_tags)
movies['keywords'] = movies['keywords'].apply(extract_listof_tags)

In [15]:
movies['cast'][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [16]:
def extract_3_cast_names(argobj):
    # convert the given string of list to actual list
    argobj = ast.literal_eval(argobj)
    # initialize empty list
    L = []
    # run loop through the list of dict
    for i in range(3):
        try:
            dictele = argobj[i]
            # to remove white-space from the string
            # i.e., to make "Abc Def" -> "AbcDef"
            castname = dictele["name"].replace(" ", "")
            # append the castname to list L
            L.append(castname)
        except:
            pass
    return L
def extract_director_name(argobj):
    # convert the given string of list to actual list
    argobj = ast.literal_eval(argobj)
    # initialize empty list
    L = []
    # run loop through the list of dict
    for dictele in argobj:
        if dictele['job']=='Director':
            # to remove white-space from the string
            # i.e., to make "Abc Def" -> "AbcDef"
            directorname = dictele["name"].replace(" ", "")
            # append the directorname to list L
            L.append(directorname)
            break
    return L

movies['cast'] = movies['cast'].apply(extract_3_cast_names)
movies['crew'] = movies['crew'].apply(extract_director_name)
movies['crew']

0           [JamesCameron]
1          [GoreVerbinski]
2              [SamMendes]
3       [ChristopherNolan]
4          [AndrewStanton]
               ...
4799     [RobertRodriguez]
4800         [EdwardBurns]
4801          [ScottSmith]
4802          [DanielHsia]
4803     [BrianHerzlinger]
Name: crew, Length: 4804, dtype: object

In [17]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[Action, Adventure, Fantasy, ScienceFiction]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [18]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4804 non-null   int64
 1   genres                4804 non-null   object
 2   homepage              4804 non-null   object
 3   id                    4804 non-null   int64
 4   keywords              4804 non-null   object
 5   original_language     4804 non-null   object
 6   original_title        4804 non-null   object
 7   overview              4804 non-null   object
 8   popularity            4804 non-null   float64
 9   production_companies  4804 non-null   object
 10  production_countries  4804 non-null   object
 11  release_date          4804 non-null   object
 12  revenue               4804 non-null   int64
 13  runtime               4804 non-null   float64
 14  spoken_languages      4804 non-null   object
 15  status                4804 non-null   object
 16  tagline               4804 non-null   object
 17  title                 4804 non-null   object
 18  vote_average          4804 non-null   float64
 19  vote_count            4804 non-null   int64
 20  movie_id              4804 non-null   int64
 21  cast                  4804 non-null   object
 22  crew                  4804 non-null   object
 23  tags                  4804 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.9+ KB

**NOW, CREATE `tags` COLUMN MERGING `genres, keywords, overview, cast, crew` COLUMNS AND SOME OTHER DFS**

In [19]:
movies['tags'] = movies['tags'].apply(lambda x : " ".join(x).lower())
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew,tags
0,237000000,"[Action, Adventure, Fantasy, ScienceFiction]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"in the 22nd century, a paraplegic marine is di..."

In [20]:
movie_rec_df = movies[['id', 'title', 'tags']]
reference_df = movies[['id', 'title', 'status', 'release_date']]
numeric_filters_df = movies[['id', 'budget', 'popularity', 'vote_average', 'vote_count', 'revenue', 'runtime']]
genrekeywords_filters_df = movies[['id', 'genres', 'keywords']]
castcrew_filters_df = movies[['id', 'cast', 'crew']]
rating_df = movies[['vote_average', 'vote_count', 'popularity']]

In [21]:
movie_rec_df.head(1)

      id   title                                               tags
0  19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [22]:
numeric_filters_df.head(1)

      id     budget  popularity  vote_average  vote_count     revenue  runtime
0  19995  237000000  150.437577           7.2       11800  2787965087    162.0

In [23]:
numeric_filters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4804 non-null   int64
 1   budget        4804 non-null   int64
 2   popularity    4804 non-null   float64
 3   vote_average  4804 non-null   float64
 4   vote_count    4804 non-null   int64
 5   revenue       4804 non-null   int64
 6   runtime       4804 non-null   float64
dtypes: float64(3), int64(4)
memory usage: 262.8 KB

**STEMMING**

In [24]:
ps = PorterStemmer()
def stemparagraph(paragraph):
    res = []
    for word in paragraph.split():
        res.append(ps.stem(word))
    return " ".join(res)
movie_rec_df['tags'] = movie_rec_df['tags'].apply(stemparagraph)

C:\Users\Rakesh\AppData\Local\Temp\ipykernel_15016\374745880.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_rec_df['tags'] = movie_rec_df['tags'].apply(stemparagraph)

In [25]:
movie_rec_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

**VECTORIZATION OF TAGS PARAGRAPH**

In [26]:
ct_vec = CountVectorizer(max_features=5000, stop_words='english')
vectors = ct_vec.fit_transform(movie_rec_df['tags']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

**CALCULATE COSINE DISTANCE**

In [27]:
similarity_score = cosine_similarity(vectors)
similarity_score[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [28]:
sorted(list(enumerate(similarity_score[0])), reverse=True, key=lambda x : x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [29]:
def recommend(movie):
    movieindx = movie_rec_df[ movie_rec_df['title']==movie ].index[0]
    distances = similarity_score[movieindx]
    recommandationlist = sorted(list(enumerate(distances)), reverse=True, key=lambda x : x[1])[1:6]
    for rec_movie in recommandationlist:
        print(movie_rec_df.iloc[rec_movie[0]].title)

In [30]:
recommend('The Prestige') # `Batman` `Avatar` `Pride and Prejudice and Zombies`

The Number 23
Enter Nowhere
Eye of the Beholder
The Spanish Prisoner
Final Destination 3

**SAVE MODEL PKL FILE**

In [31]:
target_dir = '../models'
if not os.path.exists(target_dir):
    os.makedirs(target_dir)

In [32]:
pickle.dump(movie_rec_df.to_dict(), open('../models/moviesdict.pkl', 'wb'))

In [33]:
pickle.dump(similarity_score, open('../models/simimat.pkl', 'wb'))

### **Testing DB**

In [34]:
# Importing necessary modules
import pandas as pd
import sqlite3
import os
from itertools import product

# Function to create an SQLite database with specified tables based on the DataFrame
def create_multiple_tables(df, table_specs, db_name="test.db"):
    # Ensure the target directory exists
    target_dir = '../created-dbs'
    if not os.path.exists(target_dir):
        os.makedirs(target_dir)

    # Full path to the database
    full_db_path = os.path.join(target_dir, db_name)

    # Connect to SQLite database (or create it)
    conn = sqlite3.connect(full_db_path)

    # Loop through each table specification
    for table_name, columns in table_specs.items():
        # Identify the special columns (that contain lists)
        special_columns = [col for col in columns if isinstance(df[col].iloc[0], list)]

        # If there are no special columns, create the table directly
        if not special_columns:
            df[columns].to_sql(table_name, conn, if_exists="replace", index=False)
        else:
            # Create an empty list to store the expanded rows
            expanded_data = []
            
            # Loop through each row of the DataFrame
            for idx, row in df.iterrows():
                # Create Cartesian product for each special column
                values_for_cartesian_product = [row[col] for col in special_columns]
                cartesian_product = list(product(*values_for_cartesian_product))
                
                # Create a new row for each combination in the Cartesian product
                for combination in cartesian_product:
                    new_row = {col: row[col] for col in columns if col not in special_columns}
                    new_row.update({col: val for col, val in zip(special_columns, combination)})
                    expanded_data.append(new_row)

            # Create a new DataFrame from the expanded data
            expanded_df = pd.DataFrame(expanded_data)

            # Create the table
            expanded_df.to_sql(table_name, conn, if_exists="replace", index=False)

    # Commit and close the connection
    conn.commit()
    conn.close()

    print(f"Database {db_name} has been created at {full_db_path}.")


# Sample DataFrame
sample_data = {
    'A': ['a1', 'a2', 'a3'],
    'B': ['b1', 'b2', 'b3'],
    'C': ['c1', 'c2', 'c3'],
    'D': [['d1', 'd2', 'd3'], ['d2', 'd3'], ['d1']],
    'E': [['e1', 'e2'], ['e2', 'e3'], ['e1', 'e2', 'e3']],
    'F': ['f1', 'f2', 'f3'],
    'G': [['d1', 'd2', 'd3'], ['d2', 'd3'], ['d1']],
    'H': [['e1', 'e2'], ['e2'], ['e1', 'e2', 'e3']],
    'I': ['i1', 'i2', 'i3'],
    'J': ['j1', 'j2', 'j3']
}
sample_df = pd.DataFrame(sample_data)

# Table specifications
table_specs = {
    'table1': ['A', 'B', 'C'],
    'table2': ['A', 'D', 'E'],
    'table3': ['A', 'G', 'H']
}

# Create SQLite database with multiple tables
create_multiple_tables(sample_df, table_specs)

Database test.db has been created at ../created-dbs\test.db.

In [35]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew,tags
0,237000000,"[Action, Adventure, Fantasy, ScienceFiction]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"in the 22nd century, a paraplegic marine is di..."
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drugabuse, exoticisland, eastindiatrad...",en,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"captain barbossa, long believed to be dead, ha..."

### **Create DB**

In [36]:
# Function to create an SQLite database with specified tables based on the DataFrame
def create_multiple_tables(df, table_specs, db_name="movies_database.db"):
    # Ensure the target directory exists
    target_dir = '../created-dbs'
    if not os.path.exists(target_dir):
        os.makedirs(target_dir)

    # Full path to the database
    full_db_path = os.path.join(target_dir, db_name)

    # Connect to SQLite database (or create it)
    conn = sqlite3.connect(full_db_path)

    # Loop through each table specification
    for table_name, columns in table_specs.items():
        # Identify the special columns (that contain lists)
        special_columns = [col for col in columns if isinstance(df[col].iloc[0], list)]

        # If there are no special columns, create the table directly
        if not special_columns:
            df[columns].to_sql(table_name, conn, if_exists="replace", index=False)
        else:
            # Create an empty list to store the expanded rows
            expanded_data = []
            
            # Loop through each row of the DataFrame
            for idx, row in df.iterrows():
                # Create Cartesian product for each special column
                values_for_cartesian_product = [row[col] for col in special_columns]
                cartesian_product = list(product(*values_for_cartesian_product))
                
                # Create a new row for each combination in the Cartesian product
                for combination in cartesian_product:
                    new_row = {col: row[col] for col in columns if col not in special_columns}
                    new_row.update({col: val for col, val in zip(special_columns, combination)})
                    expanded_data.append(new_row)

            # Create a new DataFrame from the expanded data
            expanded_df = pd.DataFrame(expanded_data)

            # Create the table
            expanded_df.to_sql(table_name, conn, if_exists="replace", index=False)

    # Commit and close the connection
    conn.commit()
    conn.close()

    print(f"Database {db_name} has been created at {full_db_path}.")



# Table specifications
table_specs = {
    'movie_rec_df': ['id', 'title', 'tags'],
    'reference_df': ['id', 'title', 'status', 'release_date'],
    'numeric_filters_df': ['id', 'budget', 'popularity', 'vote_average', 'vote_count', 'revenue', 'runtime'],
    'genrekeywords_filters_df': ['id', 'genres', 'keywords'],
    'castcrew_filters_df': ['id', 'cast', 'crew'],
    'rating_df': ['vote_average', 'vote_count', 'popularity'],

}

# Create SQLite database with multiple tables
create_multiple_tables(movies, table_specs)

Database movies_database.db has been created at ../created-dbs\movies_database.db.